<TABLE BORDER="0">
  <TH>#</TH>
  <TH>name</TH>
  <TH>adp</TH>
  <TH>position</TH>
  <TH>team</TH>
<%# players.sort_by { |player1| player1[:adp] }.each do | player| %>
<% if ! players.empty? %>
	<% players.each do | player| %>
	  <TR><form action="/undraft/" method="POST">
	    <TD><%= player[:name] %></TD>
	    <TD><%= player[:adp] %></TD>
	    <TD><%= player[:position] %></TD>
	    <TD><%=player[:team] %></TD>
	    <TD><button name="nameid" value=<%= player[:id]%>>Undraft</button></TD>
	  </TR></form>
	<% end %>
<% end %>
</TABLE>
<script>
	var tables = document.getElementsByTagName('table');

  var table = tables[tables.length - 1];

  var rows = table.rows;

  for(var i = 1, td; i < rows.length; i++){

    td = document.createElement('td');

    td.appendChild(document.createTextNode(i));

    rows[i].insertBefore(td, rows[i].firstChild);

	}
</script>
